@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@theme {
    --color-dark-gray: #0a192f;
    --color-gray-light: rgb(204, 214, 246);
    --color-gray-dark: rgb(136, 146, 176);
    --color-green-app: #64ffda;
}
html {
  scroll-behavior: smooth;
}
section ul li::before{
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--color-green-app);
}
.vertical-text {
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}


.fira-code{
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}